mixin odds(data)
	section.section.section_odds.bg_gray-dark#odds
		.container
			ul.list.list_unstyled.odds-list.row.no-gutters
				li.list__item.col-12.col-sm-6.col-lg-3
					.odd-block
						.odd-block__icon(aria-hidden="true")
							<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="60" height="60"><use xlink:href="#svg-icon-delivery2"></use></svg>
						.section__title.odd-block__text
							h2 Доставка товаров по всей Молдавии
				li.list__item.col-12.col-sm-6.col-lg-3
					.odd-block
						.odd-block__icon(aria-hidden="true")
							<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="60" height="60"><use xlink:href="#svg-icon-delivery"></use></svg>
						.section__title.odd-block__text
							h2 Бесплатная доставка в пределах г. Кишинев
				li.list__item.col-12.col-sm-6.col-lg-3
					.odd-block
						.odd-block__icon(aria-hidden="true")
							<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="60" height="60"><use xlink:href="#svg-icon-credit-card2"></use></svg>
						.section__title.odd-block__text
							h2 Удобные и безопасные варианты оплаты
				li.list__item.col-12.col-sm-6.col-lg-3
					.odd-block
						.section__title.odd-block__icon(aria-hidden="true")
							<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="60" height="60"><use xlink:href="#svg-icon-support"></use></svg>
						.section__title.odd-block__text
							h2 Советы и консультации по тел. (+373) 79410830