mixin footer()
	footer(class="footer")
		button.btn.btn_dark.scroll-top.js-scrolltop(type="button" aria-label="Наверх")
			<svg role="img" width="30" height="30"><use xlink:href="#svg-icon-top-arrow"></use></svg>
		.footer__top
			.container
				.row
					.col-12.col-md-6.col-lg-12
						.footer__nav
							.section__title.footer__nav-title Hавигация
							ul.list.list_unstyled.footer__nav-list
								li.list__item
									a.link(href="javascript: void(0);") Акции
								li.list__item
									a.link(href="javascript: void(0);") Бренды
								li.list__item.list__item_has-child
									a.link(href="javascript: void(0);") О нас
								li.list__item
									a.link(href="javascript: void(0);") Контакты
					.col-12.col-md-6.col-lg-12
						.footer__nav
							.section__title.footer__nav-title Информация
							ul.list.list_unstyled.footer__nav-list
								li.list__item
									a.link(href="javascript: void(0);") Оплата и доставка
								li.list__item
									a.link(href="javascript: void(0);") Гарантии и возврат
		.footer__bottom
			.container
				.row.align-items-center
					.col-12.col-lg-8
						ul.list.list_unstyled.footer__bottom-nav.row
							li.col-12.col-sm-auto.list__item &copy; LiniaH2O
							li.col-12.col-sm-auto.list__item
								a.link(href="javascript: void(0);") Защита персональных данных
					.col-12.col-lg-4
						.footer__dev Разработка сайта - <a href="https://egorovagency.com/" target="_blank" rel="noopener">Egorov Agency</a>