extends template

block content
	section.section.section_inner-page.section_catalog.section_category
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link(href="javascript: void(0);") Каталог
						li.list__item
							a.link.active(href="javascript: void(0);") Мебель для ванной комнаты
				.section__title.section__title_style1
					h1 Мебель для ванной комнаты
		.section__body
			.container
				.easy-nav.bg_white.d-block.d-xl-none
					ul.list.list_unstyled.easy-nav__list
						li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand2" aria-label="Комплекты мебели")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand2"></use></svg>
						li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand3" aria-label="Шкафы с умывальниками")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand3"></use></svg>
						//-li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand4" aria-label="Шкафы с каменной столешницей")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand4"></use></svg>
						li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand5" aria-label="Зеркала для ванной")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand5"></use></svg>
						li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand6" aria-label="Шкафы-пеналы для ванной")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand6"></use></svg>
						li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand7" aria-label="Тумбы напольные")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand7"></use></svg>
						li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand8" aria-label="Зеркала со шкафчиком")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand8"></use></svg>
						//-li.list__item
							a.btn.btn_light.link.js-scroll-link(href="#category-nightstand8" aria-label="Полки")
								<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand9"></use></svg>
				.category-block.category-block_main#category-nightstand
					.row.no-gutters
						.col-12.col-lg-5
							a.link.category-block__header.category-block__header_blue(href="javascript: void(0);" aria-label="Мебель для ванной комнаты")
								.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/category-img-3.png');")
								.link__content
									span.link__icon(aria-hidden="true")
										<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand"></use></svg>
									h2.section__title.link__text
										span.line Мебель для 
										span.line ванной комнаты
									span.link__control(aria-hidden="true")
										<svg role="img" aria-hidden="true" width="20" height="20"><use xlink:href="#svg-icon-down-arrow"></use></svg>
						.col-12.col-lg-7
							.row.no-gutters
								.col-12.col-md-4
									.rec-block.rec-block_new
										.rec-block__content.d-none.d-md-block
											.rec-block__header
												a.rec-block__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-2.jpg" alt="Изображение продукта")
												ul.list.list_unstyled.rec-block__marks.marks-list
													li.list__item.bg_blue Новинка
											.rec-block__body
												a.rec-block__title(href="javascript: void(0);") Blome Дозатор для жидкого мыла 889
												.rec-block__price
													span.cost 567
													span.currency лей / шт
										.rec-block__footer
											a.link.rec-block__link(href="javascript:void(0);")
												span.link__text Новинки
												span.link__control(aria-hidden="true")
													<svg role="img" aria-hidden="true" width="20" height="20"><use xlink:href="#svg-icon-down-arrow"></use></svg>
								.col-12.col-md-4
									.rec-block.rec-block_sale
										.rec-block__content.d-none.d-md-block
											.rec-block__header
												a.rec-block__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-3.jpg" alt="Изображение продукта")
												ul.list.list_unstyled.rec-block__marks.marks-list
													li.list__item.list__item_num.bg_red 25%
											.rec-block__body
												a.rec-block__title(href="javascript: void(0);") Blome Дозатор для жидкого мыла 889
												.rec-block__price
													span.old 8 345
													span.cost.cost_new 3 567
													span.currency лей / шт
										.rec-block__footer
											a.link.rec-block__link(href="javascript:void(0);")
												span.link__text Акции
												span.link__control(aria-hidden="true")
													<svg role="img" aria-hidden="true" width="20" height="20"><use xlink:href="#svg-icon-down-arrow"></use></svg>
								.col-12.col-md-4
									.rec-block.rec-block_brand
										.rec-block__content.d-none.d-md-block
											.swiper-container.js-slider-attached-product
												.swiper-wrapper
													.swiper-slide
														a.rec-block__brand(href="javascript: void(0);" aria-label="Перейти к бренду Roca")
															img(src="images/content/brands/brand-img-1.png" alt="Roca")
													.swiper-slide
														a.rec-block__brand(href="javascript: void(0);" aria-label="Перейти к бренду Geberit")
															img.brand-block__img(src="images/content/brands/brand-img-2.png" alt="Geberit")
													.swiper-slide
														a.rec-block__brand(href="javascript: void(0);" aria-label="Перейти к бренду Hansgrohe")
															img.brand-block__img(src="images/content/brands/brand-img-3.png" alt="Hansgrohe")
												button.swiper-button-prev(type="button") <svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-down-arrow"></use></svg>
												button.swiper-button-next(type="button") <svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-down-arrow"></use></svg>
										.rec-block__footer
											a.link.rec-block__link(href="javascript:void(0);")
												span.link__text Бренды
												span.link__control(aria-hidden="true")
													<svg role="img" aria-hidden="true" width="20" height="20"><use xlink:href="#svg-icon-down-arrow"></use></svg>
			.section__subcategories
				.container
					.row
						.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand2
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-23.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand2"></use></svg>
										h2.section__title.link__text
											span.line Комплекты 
											span.line мебели
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина до 40 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 40-59 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 60-69 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 70-79 см
						.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand3
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-24.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand3"></use></svg>
										h2.section__title.link__text
											span.line Шкафы  
											span.line с умывальниками
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина 40-59 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 60-69 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 70-79 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 80-89 см
						//-.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand4
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-25.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand4"></use></svg>
										h2.section__title.link__text
											span.line Шкафы 
											span.line с каменной 
											span.line столешницей
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина 100-120 см
						.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand5
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-26.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand5"></use></svg>
										h2.section__title.link__text
											span.line Зеркала 
											span.line для ванной
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина 40-59 cм
										li.list__item
											a.link(href="javascript:void(0);") Ширина 60-69 cм
										li.list__item
											a.link(href="javascript:void(0);") Ширина 70-79 cм
										li.list__item
											a.link(href="javascript:void(0);") Ширина 80-89 cм
										li.list__item
											a.link(href="javascript:void(0);") Ширина 90-99 cм
										li.list__item
											a.link(href="javascript:void(0);") Ширина 100-109 cм
						.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand6
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-27.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand6"></use></svg>
										h2.section__title.link__text
											span.line Шкафы-пеналы 
											span.line для ванной
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина до 29 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 30-34 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 35-39 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 40-59 см
						.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand7
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-28.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand7"></use></svg>
										h2.section__title.link__text
											span.line Тумбы 
											span.line напольные
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина 30-34 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 35-39 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 40-59 см
						.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand8
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-29.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand8"></use></svg>
										h2.section__title.link__text
											span.line Зеркала 
											span.line со шкафчиком
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Ширина 40-59 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 60-69 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 70-79 см
										li.list__item
											a.link(href="javascript:void(0);") Ширина 80-89 см
						//-.col-12.col-md-6.col-lg-4.col-xl-3
							.category-block.category-block_inner#category-nightstand9
								a.link.category-block__header(href="javascript: void(0);")
									.link__bg(aria-hidden="true" style="background-image: url('images/content/categories/subcategory-img-30.png');")
									.link__content
										span.link__icon(aria-hidden="true")
											<svg role="img" aria-hidden="true" width="30" height="30"><use xlink:href="#svg-icon-nightstand9"></use></svg>
										h2.section__title.link__text Полки
								.category-block__content
									ul.list.list_unstyled.category-block__subcategories-list
										li.list__item
											a.link(href="javascript:void(0);") Стеклянные
										li.list__item
											a.link(href="javascript:void(0);") Деревянные
	//-+odds
	//-+sliders-in-tabs({"popular":"true"})