extends template

block content
	section.section.section_inner-page.section_checkout-mvp.section_checkout-cart
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link.active(href="javascript: void(0);") Корзина
				.header-title
						.header-title__main.section__title.section__title_style1
							h1 
								| Корзина
								span.header-title__add-text
									| 7 товаров
		.section__body
			form(name="forcheckout" method="post")
				.container
					.row
						.col-12.col-xl-8
							.checkout-cart-table
								.cart-table
									.cart-table__row
										.cart-table__cell.cart-table__cell_button-close
											button(type="button").cart-table__button-close
												<svg role="img" aria-hidden="true" width="26" height="26"><use xlink:href="#svg-icon-cancel"></use></svg>
										.cart-table__cell.cart-table__cell_info
											.cart-table__info
												a.cart-table__img(href="javascript: void(0);" aria-label="Пенал с левым открыванием")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												.cart-table__content
													a.cart-table__title.section__title(href="javascript: void(0);") Пенал с левым открыванием
													.cart-table__descr.section__description Артикул: 90858
												ul.list.list_unstyled.cart-table__params-list.row
													li.col-auto.list__item
														span.list__param-color(aria-hidden="true" style="background-color: #ffffff;")
														span.list__param-title Белый
													li.col-auto.list__item
														span.list__param-title 520 x 830 x 440 мм
													li.col-auto.list__item
														span.list__param-title 1 шт.
										.cart-table__cell.cart-table__cell_middle.cart-table__cell_middle-quantity
											.cart-table__quantity
												.section__title.subtitle Количество
												.form-group.form-group_inline
													button.btn.btn_minus.js-btn-minus(type="button" aria-label="Меньше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-minimize"></use></svg>
													label.form-label.form-label_hidden(for="cart-product-count") Количество товара
													input.form-control( type="number" id="cart-product-count" name="cart-product-count" min="1" step="1" value="1")
													button.btn.btn_plus.js-btn-plus(type="button" aria-label="Больше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-add"></use></svg>
										.cart-table__cell.cart-table__cell_price
											ul.list.list_unstyled.cart-table__marks.marks-list
												li.list__item.list__item_num.bg_orange + 20&nbsp;
													span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
												li.list__item.list__item_num.bg_red 25%
											.cart-table__price
												span.old 8 345
												span.cost.cost_new 3 567
												span.currency лей / шт
									.cart-table__row
										.cart-table__cell.cart-table__cell_button-close
											button(type="button").cart-table__button-close
												<svg role="img" aria-hidden="true" width="26" height="26"><use xlink:href="#svg-icon-cancel"></use></svg>
										.cart-table__cell.cart-table__cell_info
											.cart-table__info
												a.cart-table__img(href="javascript: void(0);" aria-label="Пенал с левым открыванием")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												.cart-table__content
													a.cart-table__title.section__title(href="javascript: void(0);") Пенал с левым открыванием
													.cart-table__descr.section__description Артикул: 90858
												ul.list.list_unstyled.cart-table__params-list.row
													li.col-auto.list__item
														span.list__param-color(aria-hidden="true" style="background-color: #6D7281;")
														span.list__param-title Серый
													li.col-auto.list__item
														span.list__param-title 520 x 830 x 440 мм
													li.col-auto.list__item
														span.list__param-title 1 шт.
										.cart-table__cell.cart-table__cell_middle.cart-table__cell_middle-quantity
											.cart-table__quantity
												.section__title.subtitle Количество
												.form-group.form-group_inline
													button.btn.btn_minus.js-btn-minus(type="button" aria-label="Меньше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-minimize"></use></svg>
													label.form-label.form-label_hidden(for="cart-product-count") Количество товара
													input.form-control( type="number" id="cart-product-count" name="cart-product-count" min="1" step="1" value="1")
													button.btn.btn_plus.js-btn-plus(type="button" aria-label="Больше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-add"></use></svg>
										.cart-table__cell.cart-table__cell_price
											ul.list.list_unstyled.cart-table__marks.marks-list
												li.list__item.list__item_num.bg_orange + 20&nbsp;
													span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
												li.list__item.list__item_num.bg_red 25%
											.cart-table__price
												span.old 8 345
												span.cost.cost_new 3 567
												span.currency лей / шт
									.cart-table__row
										.cart-table__cell.cart-table__cell_button-close
											button(type="button").cart-table__button-close
												<svg role="img" aria-hidden="true" width="26" height="26"><use xlink:href="#svg-icon-cancel"></use></svg>
										.cart-table__cell.cart-table__cell_info
											.cart-table__info
												a.cart-table__img(href="javascript: void(0);" aria-label="Пенал с левым открыванием")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												.cart-table__content
													a.cart-table__title.section__title(href="javascript: void(0);") Пенал с левым открыванием
													.cart-table__descr.section__description Артикул: 90858
												ul.list.list_unstyled.cart-table__params-list.row
													li.col-auto.list__item
														span.list__param-color(aria-hidden="true" style="background-color: #6D7281;")
														span.list__param-title Серый
													li.col-auto.list__item
														span.list__param-title 520 x 830 x 440 мм
													li.col-auto.list__item
														span.list__param-title 1 шт.
										.cart-table__cell.cart-table__cell_middle.cart-table__cell_middle-quantity
											.cart-table__quantity
												.section__title.subtitle Количество
												.form-group.form-group_inline
													button.btn.btn_minus.js-btn-minus(type="button" aria-label="Меньше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-minimize"></use></svg>
													label.form-label.form-label_hidden(for="cart-product-count") Количество товара
													input.form-control( type="number" id="cart-product-count" name="cart-product-count" min="1" step="1" value="1")
													button.btn.btn_plus.js-btn-plus(type="button" aria-label="Больше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-add"></use></svg>
										.cart-table__cell.cart-table__cell_price
											ul.list.list_unstyled.cart-table__marks.marks-list
												li.list__item.list__item_num.bg_orange + 20&nbsp;
													span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
												li.list__item.list__item_num.bg_red 25%
											.cart-table__price
												span.old 8 345
												span.cost.cost_new 3 567
												span.currency лей / шт
									.cart-table__row
										.cart-table__cell.cart-table__cell_button-close
											button(type="button").cart-table__button-close
												<svg role="img" aria-hidden="true" width="26" height="26"><use xlink:href="#svg-icon-cancel"></use></svg>
										.cart-table__cell.cart-table__cell_info
											.cart-table__info
												a.cart-table__img(href="javascript: void(0);" aria-label="Пенал с левым открыванием")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												.cart-table__content
													a.cart-table__title.section__title(href="javascript: void(0);") Пенал с левым открыванием
													.cart-table__descr.section__description Артикул: 90858
												ul.list.list_unstyled.cart-table__params-list.row
													li.col-auto.list__item
														span.list__param-color(aria-hidden="true" style="background-color: #6D7281;")
														span.list__param-title Серый
													li.col-auto.list__item
														span.list__param-title 520 x 830 x 440 мм
													li.col-auto.list__item
														span.list__param-title 1 шт.
										.cart-table__cell.cart-table__cell_middle.cart-table__cell_middle-quantity
											.cart-table__quantity
												.section__title.subtitle Количество
												.form-group.form-group_inline
													button.btn.btn_minus.js-btn-minus(type="button" aria-label="Меньше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-minimize"></use></svg>
													label.form-label.form-label_hidden(for="cart-product-count") Количество товара
													input.form-control( type="number" id="cart-product-count" name="cart-product-count" min="1" step="1" value="1")
													button.btn.btn_plus.js-btn-plus(type="button" aria-label="Больше")
														<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-add"></use></svg>
										.cart-table__cell.cart-table__cell_price
											ul.list.list_unstyled.cart-table__marks.marks-list
												li.list__item.list__item_num.bg_orange + 20&nbsp;
													span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
												li.list__item.list__item_num.bg_red 25%
											.cart-table__price
												span.old 8 345
												span.cost.cost_new 3 567
												span.currency лей / шт
						.col-12.col-xl-4
							.checkout-cart-info
								ul.list.list_unstyled.custom-list.custom-list_info
									li.list__item
										.custom-list__th.custom-list__th_bottom
											span.custom-list__title.section__title
												| Всего на сумму:
										.custom-list__value
											.custom-list__price
												span.old 8 345
												span.cost 3 567
												span.currency лей
									li.list__item
										.custom-list__th
											span.custom-list__title.section__title
												| Доставка:
										.custom-list__value
											| Бесплатно
									li.list__item
										.custom-list__th
											span.custom-list__title.section__title
												| Промокод:
												button(type="button").btn.btn_popover.btn_popover-checkout(data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
													<svg role="img" width="20" height="20"><use xlink:href="#svg-icon-popover"></use></svg>
										.custom-list__value
											.form-group.form-group_gray
												label.form-label.form-label_hidden(for="checkout-promo")
													| Введите промокод
												input.form-control(type="text" name="checkout-promo" id="checkout-promo" placeholder="Введите промокод" required)
							.checkout-total
								.checkout-total__th
									.checkout-total__title.section__title.section__title_style1
										| Итого:
								.checkout-total__value
									.checkout-total__number
										| 21 787
										span.checkout-total__add-text
											| лей
								button(type="submit").checkout-total__cart-button.btn.btn_default.btn_shadow.btn_dark.btn_with-icon
									span.btn__icon(aria-hidden="true")
										<svg role="img" width="30" height="30"><use xlink:href="#svg-icon-verified"></use></svg>
									span.btn__text Перейти к оформлению
				+sliders-in-tabs({"order":"true"})
				//-+odds
				//-+sliders-in-tabs({"popular":"true"})
