extends template

block content
	section.section.section_inner-page.section_personal-data
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link.active(href="javascript: void(0);") защита персональных данных
				.section__title.section__title_style1.personal-data-title
					h1 
						| защита персональных данных
		.section__body.section_simple-text
			.container
				.row
					.col-lg-8.col-sm-9
						p
							| Eu eiusmod dolor mollit adipisicing dolore ex aute proident aliqua qui pariatur irure. Dolor ad nostrud esse mollit nostrud. Eiusmod velit irure nulla ullamco minim duis labore dolore ad minim reprehenderit adipisicing adipisicing officia. Et mollit ullamco laborum ullamco ad.
						p
							| Est cillum dolor est fugiat veniam dolor. Est magna consectetur nostrud exercitation consectetur reprehenderit laborum ex irure magna sit. Eiusmod est fugiat sunt eiusmod ullamco sit nisi nostrud nostrud adipisicing deserunt deserunt ipsum laborum. Fugiat do proident anim magna excepteur fugiat enim do nostrud officia amet. Id est incididunt qui deserunt enim dolor nostrud pariatur velit ex consequat adipisicing nostrud.
						p
							| Do anim est do non et veniam nisi. Quis aliqua ipsum id commodo aute cupidatat pariatur qui. Pariatur sunt pariatur deserunt pariatur enim dolor. Adipisicing ad sint est ad laborum eu.
						p
							| Incididunt sunt duis adipisicing dolore ad non excepteur tempor id aute minim et. Non adipisicing commodo sunt Lorem esse dolor reprehenderit eiusmod. Fugiat duis ut nulla labore magna id proident ut officia dolor ex Lorem eiusmod ipsum. Eiusmod fugiat ad deserunt nisi ad aliquip id anim sit proident nisi. Ad non nisi et anim elit consequat reprehenderit laboris dolor minim consectetur laborum culpa. Est excepteur est culpa in. Sunt ex reprehenderit sunt ea fugiat aliquip ea aliquip ex ut aliquip

						p
							| Qui duis excepteur id nostrud id occaecat qui consectetur. Voluptate anim voluptate quis dolor. Nostrud anim commodo labore aliqua ullamco cupidatat laborum. Amet nulla exercitation consectetur sit quis ullamco amet incididunt do ad esse.
						p
							| Ad ea exercitation non dolor Lorem. Adipisicing veniam occaecat reprehenderit commodo tempor velit eu aliquip minim quis esse. Tempor elit sunt aute aute excepteur sit enim nulla. Ipsum excepteur laborum qui amet deserunt culpa laborum elit adipisicing officia dolor. Consequat exercitation reprehenderit laboris labore eu sunt nisi amet ea incididunt est. Quis reprehenderit exercitation officia eiusmod culpa veniam.
						p
							| Ut ut ipsum ex occaecat anim nulla incididunt. Sint consectetur esse sint ipsum ullamco eiusmod elit duis adipisicing aute adipisicing pariatur. Dolore esse in exercitation est anim dolor consectetur eiusmod. Nisi sint officia consectetur voluptate adipisicing labore qui qui Lorem fugiat. Culpa voluptate sunt aliquip tempor amet nisi ut et ullamco mollit.
						p
							| Labore pariatur cupidatat reprehenderit est dolor adipisicing consectetur et laborum. Id qui qui elit sit magna aute id mollit pariatur laborum occaecat eu. Adipisicing tempor reprehenderit enim dolore velit. Veniam Lorem laborum anim duis occaecat laboris commodo id dolor labore sint. Aute duis occaecat proident fugiat. Non labore ullamco est veniam anim enim exercitation.
						p
							| Do mollit reprehenderit ad exercitation id ipsum est elit. Fugiat consectetur velit velit eu ea aute quis aute. Consequat consectetur aliqua fugiat Lorem irure officia deserunt do elit non consequat minim ex anim. Reprehenderit labore velit anim enim. Ad ex cillum velit aliquip.
						p
							| Proident qui dolor ex quis ex. Sit ullamco esse esse consectetur incididunt eu consequat dolore exercitation dolor veniam. Labore exercitation sint esse ea dolore laboris excepteur qui aute eiusmod elit tempor aute nisi. Aliquip non dolor minim culpa officia magna deserunt laboris ullamco in sunt sit non. Esse anim officia ex pariatur quis voluptate. Ex consequat officia ad culpa amet excepteur mollit culpa reprehenderit duis. Sint duis cillum exercitation excepteur pariatur est veniam eiusmod culpa elit cupidatat.

				
