extends template

block content
	section.section.section_inner-page.section_product
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link(href="javascript: void(0);") Каталог
						li.list__item
							a.link(href="javascript: void(0);") Сантехника
						li.list__item
							a.link(href="javascript: void(0);") Унитазы
						li.list__item
							a.link.active(href="javascript: void(0);") Happy Smart Компакт 3/4.5л с нижней подводкой дюропласт микролифт
		.section__body.product-block
			.product-block__main
				.container
					.row.no-gutters
						.col-12
							a.product-block__brand.brand-block(href="javascript: void(0);" aria-label="Перейти к бренду Roca")
								.brand-block__img(aria-hidden="true")
									img(src="images/content/brands/brand-img-1.png" alt="Roca")
								.brand-block__country Великобритания
					.row
						.col-12.col-lg-5
							ul.list.list_unstyled.product-block__socials
								li.list__item
									button.btn.btn_to-favorite.js-to-favorite(type="button" aria-label="В избранное")
										<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
										<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
								li.list__item.list__item_has-child.dropdown
									button.btn.btn_share.js-share(type="button" aria-label="Поделиться" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
										<svg class="btn__icon" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-share"></use></svg>
									ul.list.list_unstyled.dropdown-menu.bg_white(aria-label="Поделиться")
										li.list__item
											a.btn.btn_socials(href="javascript: void(0);" rel="noopener nofollow" aria-label="в Instagram")
												<svg class="btn__icon" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-instagram"></use></svg>
										li.list__item
											a.btn.btn_socials(href="javascript: void(0);" rel="noopener nofollow" aria-label="в Facebook")
												<svg class="btn__icon" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-facebook"></use></svg>
							.product-block__slider
								ul.list.list_unstyled.marks-list
									li.list__item.bg_yellow Распродажа
									li.list__item.list__item_num.bg_orange + 20&nbsp;
										span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
								.swiper-container.slider_main.js-product-slider-main
									.swiper-wrapper
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-11.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-11.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/interer-komnata-vannaya-4500.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/interer-komnata-vannaya-4500.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/interer-vannaia-komnata-stil.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/interer-vannaia-komnata-stil.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-13.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-13.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-12.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-12.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-13.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-13.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-13.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-13.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-11.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-11.jpg" alt="Изображение продукта")
										.swiper-slide
											a.product-block__slide.js-lightbox-gallery(href="images/content/products/product-img-12.jpg" data-rel="lightcase:product:slideshow" title="Изображение продукта" aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-12.jpg" alt="Изображение продукта")
								.swiper-container.slider_thumbs.js-product-slider-thumbs
									.swiper-wrapper
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-11.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/interer-komnata-vannaya-4500.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/interer-vannaia-komnata-stil.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-13.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-12.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-13.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-13.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-11.jpg" alt="Изображение продукта")
										.swiper-slide
											.product-block__slide(aria-label="Изображение продукта")
												.background-img(aria-hidden="true")
													img(src="images/content/products/product-img-12.jpg" alt="Изображение продукта")
						.col-12.col-lg-7
							.product-block__info
								.product-block__title.section__title
									h1 Happy Smart Компакт 3/4.5л с нижней подводкой дюропласт микролифт
								ul.list.list_unstyled.product-block__info-list.row.align-items-center
									li.col-12.col-md-auto
										.product-block__availability.product-block__availability_true В наличии
											span.count.color_red Товар заканчивается
									li.col-12.col-md-auto
										.product-block__code Артикул: 90858
								.product-block__price
									span.cost 3 567
									span.currency лей / шт
								.product-block__cheaper.cheaper-block
									.row.align-items-center
										.col-auto
											.cheaper-block__title Увидели дешевле?
										.col-auto
											button.btn.cheaper-block__btn.js-find-cheaper(type="button") Сообщите
										.col-auto
											button.btn.btn_popover(data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
												<svg role="img" width="20" height="20"><use xlink:href="#svg-icon-popover"></use></svg>
								.product-block__extra
									.bonus-block
										.bonus-block__icon
											<svg role="img" width="30" height="30"><use xlink:href="#svg-icon-credit-card"></use></svg>
										.bonus-block__content
											span.bonus-block__title Бонус:
											span.bonus-block__points
												<span class="counter">+ 20 баллов</span>
												button.btn.btn_popover.bonus-block__popover(data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
													<svg role="img" width="20" height="20"><use xlink:href="#svg-icon-popover"></use></svg>
								.product-block__form
									.row
										.col-12.col-sm-6.col-md-auto.col-lg-12.col-xl-auto
											.params-block
												.params-block__title Размер
												ul.list.list_unstyled.radio-list.radio-list_params.radio-list_params_two-col
													li.list__item.radio
														label.radio__label
															input.radio__hidden(type="radio" id="product-size-1" name="product-size" value="2.50x25" checked)
															span.radio__custom(aria-hidden="true")
															span.radio__text 2.50x25
													li.list__item.radio
														label.radio__label
															input.radio__hidden(type="radio" id="product-size-2" name="product-size" value="2.50x45")
															span.radio__custom(aria-hidden="true")
															span.radio__text 2.50x45
													li.list__item.radio
														label.radio__label
															input.radio__hidden(type="radio" id="product-size-3" name="product-size" value="3x25")
															span.radio__custom(aria-hidden="true")
															span.radio__text 3x25
													li.list__item.radio
														label.radio__label
															input.radio__hidden(type="radio" id="product-size-3" name="product-size" value="3x40")
															span.radio__custom(aria-hidden="true")
															span.radio__text 3x40
													li.list__item.radio
														label.radio__label
															input.radio__hidden(type="radio" id="product-size-3" name="product-size" value="4.20x45")
															span.radio__custom(aria-hidden="true")
															span.radio__text 4.20x45
													li.list__item.radio
														label.radio__label
															input.radio__hidden(type="radio" id="product-size-3" name="product-size" value="29.80x59.80")
															span.radio__custom(aria-hidden="true")
															span.radio__text 29.80x59.80
										.col-12.col-sm-6.col-md-auto.col-lg-12.col-xl-auto
											.params-block
												.row.no-gutters.align-items-center
													.col-auto
														.params-block__title Цвет
													.col-auto
														.params-block__current Белый
												ul.list.list_unstyled.radio-list.radio-list_color.row
													li.list__item.radio.radio_color
														label.radio__label
															input.radio__hidden(type="radio" id="product-color-1" name="product-color" value="Белый" checked)
															span.radio__custom(aria-label="Белый" style="background-color: #ffffff;")
													li.list__item.radio.radio_color
														label.radio__label
															input.radio__hidden(type="radio" id="product-color-2" name="product-color" value="Светло-серый")
															span.radio__custom(aria-label="Светло-серый" style="background-color: #D9E1EA")
													li.list__item.radio.radio_color
														label.radio__label
															input.radio__hidden(type="radio" id="product-color-3" name="product-color" value="Серый")
															span.radio__custom(aria-label="Серый" style="background-color: #A6B3C2")
													li.list__item.radio.radio_color
														label.radio__label
															input.radio__hidden(type="radio" id="product-color-4" name="product-color" value="Темно-серый")
															span.radio__custom(aria-label="Темно-серый" style="background-color: #6D7281;")
													li.list__item.radio.radio_color
														label.radio__label
															input.radio__hidden(type="radio" id="product-color-5" name="product-color" value="Мокрый асфальт")
															span.radio__custom(aria-label="Мокрый асфальт" style="background-color: #252A2E;")
									.product-block__quantity
										.section__title.product-block__subtitle Количество
										.form-group.form-group_inline
											button.btn.btn_minus.js-btn-minus(type="button" aria-label="Меньше")
												<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-minimize"></use></svg>
											label.form-label.form-label_hidden(for="product-count") Количество товара
											input.form-control( type="number" id="product-count" name="product-count" min="1" step="1" value="1")
											button.btn.btn_plus.js-btn-plus(type="button" aria-label="Больше")
												<svg role="img" width="25" height="25"><use xlink:href="#svg-icon-add"></use></svg>
									.btn-group
										.row
											.col-12.col-sm-auto
												button.btn.btn_default.btn_dark.btn_with-icon(type="submit")
													span.btn__icon(aria-hidden="true")
														<svg role="img" width="30" height="30"><use xlink:href="#svg-icon-shop"></use></svg>
													span.btn__text В корзину
											.col-12.col-sm-auto
												button.btn.btn_default.btn_transparent.btn_flex.js-to-cart(type="button")
													span.btn__icon(aria-hidden="true")
														<svg role="img" width="30" height="30"><use xlink:href="#svg-icon-shop3"></use></svg>
													span.btn__text Купить в 1 клик
			.product-block__descr.bg_white
				.container
					.row.align-items-end
						.col-12.col-md-6.col-lg-7.col-xl-8
							.section__title.section__title_style4
								h3 Описание
							.section__description
								p Voluptate non irure aliqua nisi eu commodo irure eiusmod ea. Nulla laborum aliqua magna et ea est laborum amet non cillum officia. Non ex cupidatat labore enim non nulla sunt. Qui do exercitation enim ea et laboris laboris aliqua aliquip do commodo.
						.col-12.col-md-6.col-lg-5.col-xl-4
							a.link.link_img(href="javascript: void(0);" style="background-image: url('images/content/interiors/interior-img-1.jpg');")
								span.link__icon(aria-hidden="true")
									<svg role="img" width="30" height="30"><use xlink:href="#svg-icon-interior-design"></use></svg>
								span.link__text Смотреть в интерьере
			.product-block__params
				.container
					.section__title.section__title_style4
						h3 Характеристики
					.row
						.col-12.col-md-6.col-xl-4
							ul.list.list_unstyled.params-list
								li.list__item
									.params-list__th
										span.params-list__title Ширина:
									.params-list__value 90 cm
								li.list__item
									.params-list__th
										span.params-list__title Высота:
									.params-list__value 70 cm
								li.list__item
									.params-list__th
										span.params-list__title Страна:
									.params-list__value Китай
								li.list__item
									.params-list__th
										span.params-list__title Производитель:
									.params-list__value Biaodi
								li.list__item
									.params-list__th
										span.params-list__title Гарантия, лет:
									.params-list__value 1
	+complect
	+together
	+package
	+odds
	+sliders-in-tabs({"buy":"true"})
	+sliders-in-tabs({"popular":"true"})