extends template

block content
	section.section.section_inner-page.section_promotions
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link.active(href="javascript: void(0);") Акции
				.section__title.section__title_style1.header-title
					h1 
						| Акции
		.section__body
			.container
				.promotion-content
					.row
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-1.jpg" alt="Скидки на все прямоугольные ванные до -15% ")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все прямоугольные ванные до -15%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-2.jpg" alt="Скидки на все Асимметричные ванные до -25%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все Асимметричные ванные до -25%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-3.jpg" alt="Скидки на все встраиваемые ванные до -10%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все встраиваемые ванные до -10%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-4.jpg" alt="Скидки на все гидромассажные ванные до -30%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все гидромассажные ванные до -30%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-5.jpg" alt="Скидки на все гидромассажные системы до -15%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все гидромассажные системы до -15%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-4.jpg" alt="Скидки на все панели для ванн до -15%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все панели для ванн до -15%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-7.jpg" alt="Скидки на все свободностоящие ванные до -15%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все свободностоящие ванные до -15%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-8.jpg" alt="Скидки на все симметричные ванные до -15%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все симметричные ванные до -15%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
						.col-12.col-md-6.col-xl-4
							.promotion-block.bg_white
								a.promotion-block__img(href="javascript: void(0);")
									.background-img
										img(src="images/content/promotions/promotion-img-9.jpg" alt="Скидки на все прямоугольные ванные до -15%")
								.promotion-block__footer
									a.promotion-title(href="javascript: void(0);").section__title.section__title_style5
										h3
											| Скидки на все прямоугольные ванные до -15%
									.promotion-date
										| c 08 января по 28 февраля
									a.promotion-link(href="javascript: void(0);")
										.promotion-link__icon
											svg(role="img" aria-hidden="true" width="24" height="24")
												use(xlink:href="#svg-icon-look")
										.promotion-link__text.section__title
													| Смотреть
				.promotions__footer.pagination-block
					.row
						.show-more
							//все кнопки с классом btn_loader при добавлении класса .btn_loader_show меняют иконку на прелоадер
							button.btn.btn_show-more.btn_bordered.btn_loader.js-show-more(type="button")
								span.btn__text Показать еще
								span.btn__icon(aria-hidden="true")
									<svg class="default-icon" role="img" aria-hidden="true" width="10" height="10"><use xlink:href="#svg-icon-down-arrow"></use></svg>
									<svg class="loader-icon" role="img" aria-hidden="true" width="10" height="10"><use xlink:href="#svg-icon-loader"></use></svg>
						.pagination
							.pagination__current
								button.btn.pagination__current-btn.btn_bordered.js-pagination-opener(type="button" aria-label="Сменить страницу")
									span.btn__text 1
									span.btn__icon(aria-hidden="true") <svg role="img" aria-hidden="true" width="10" height="10"><use xlink:href="#svg-icon-down-arrow"></use></svg>
							.pagination__block
								.pagination__content
									.scrollbar-inner
										ul.list.list_unstyled.pagination__list
											.list__item
												a.link.btn.active.js-pagination-link(href="javascript: void(0);" aria-label="Страница 1") 1
											.list__item
												a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 2") 2
											.list__item
												a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 3") 3
											.list__item
												a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 4") 4
											.list__item
												a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 5") 5
											.list__item
												a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 6") 6
											.list__item
												a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 7") 7
								.pagination__control
									button.btn.pagination__control-btn.js-pagination-closer(type="button" aria-label="Закрыть")
										span.btn__icon(aria-hidden="true") <svg role="img" aria-hidden="true" width="20" height="20"><use xlink:href="#svg-icon-cancel"></use></svg>
