extends template

block content
	section.section.section_inner-page.section_search-results
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link.active(href="javascript: void(0);") Результаты поиска
				.header-title-wrapper
					.section__title.section__title_style1.main-title
						h1
							| Результаты поиска 
					span.add-text.section__title_style5 
						| Раковина
		.section__body
			.container
				.wrapper-block
					.sidebar-block
						.sidebar-block__header
							.title.section__title
								| Категории
								span.counter
									| (4)	
						.sidebar-block__body
							.breadcrumbs-block
								| Смеситель
								.section__breadcrumbs
									span в
									ul.list.list_unstyled.breadcrumbs-list
										li.list__item
											a.link(href="javascript: void(0);")
												| Сантехника
										li.list__item
											a.link(href="javascript: void(0);")
												| Смесители
										li.list__item
											a.link(href="javascript: void(0);")
												| Для ванны
							.breadcrumbs-block
								| Смеситель
								.section__breadcrumbs
									span в
									ul.list.list_unstyled.breadcrumbs-list
										li.list__item
											a.link(href="javascript: void(0);")
												| Сантехника
										li.list__item
											a.link(href="javascript: void(0);")
												| Смесители
										li.list__item
											a.link(href="javascript: void(0);")
												| Для ванны
							.breadcrumbs-block
								| Смеситель
								.section__breadcrumbs
									ul.list.list_unstyled.breadcrumbs-list
										span в
										li.list__item
											a.link(href="javascript: void(0);")
												| Сантехника
										li.list__item
											a.link(href="javascript: void(0);")
												| Смесители
										li.list__item
											a.link(href="javascript: void(0);")
												| Для ванны
							.breadcrumbs-block
								| Смеситель
								.section__breadcrumbs
									ul.list.list_unstyled.breadcrumbs-list
										span в
										li.list__item
											a.link(href="javascript: void(0);")
												| Сантехника
										li.list__item
											a.link(href="javascript: void(0);")
												| Смесители
										li.list__item
											a.link(href="javascript: void(0);")
												| Для ванны

					.main-block
						.main-block__header
							.title.section__title
								| Товары
								span.counter
									| (32)	
						.main-block__body
							.row.no-gutters
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Geberit")
													img(src="images/content/brands/brand-img-2.png" alt="Geberit")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.list__item_num.bg_orange + 20&nbsp;
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
													li.list__item.list__item_num.bg_red 25%
													li.list__item.bg_green
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-gift"></use></svg>
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Akcent clasic Standard 1 Унитаз Compact 6л/Stop (нижняя 
												.product-card__price
													span.cost 1 460
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability Нет на складе
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Geberit")
													img(src="images/content/brands/brand-img-2.png" alt="Geberit")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.list__item_num.bg_orange + 20&nbsp;
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
													li.list__item.list__item_num.bg_red 25%
													li.list__item.bg_green
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-gift"></use></svg>
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Akcent clasic Standard 1 Унитаз Compact 6л/Stop (нижняя 
												.product-card__price
													span.cost 1 460
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability Нет на складе
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Geberit")
													img(src="images/content/brands/brand-img-2.png" alt="Geberit")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.list__item_num.bg_orange + 20&nbsp;
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
													li.list__item.list__item_num.bg_red 25%
													li.list__item.bg_green
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-gift"></use></svg>
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Akcent clasic Standard 1 Унитаз Compact 6л/Stop (нижняя 
												.product-card__price
													span.cost 1 460
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability Нет на складе
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-5.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Geberit")
													img(src="images/content/brands/brand-img-2.png" alt="Geberit")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.list__item_num.bg_orange + 20&nbsp;
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-credit-card"></use></svg>
													li.list__item.list__item_num.bg_red 25%
													li.list__item.bg_green
														span.marks-list__icon <svg role="img" aria-hidden="true" width="16" height="16"><use xlink:href="#svg-icon-gift"></use></svg>
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Akcent clasic Standard 1 Унитаз Compact 6л/Stop (нижняя 
												.product-card__price
													span.cost 1 460
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability Нет на складе
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-7.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Roca")
													img(src="images/content/brands/brand-img-1.png" alt="Roca")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.bg_blue Новинка
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Carina Слим Clean On 3/5л с нижней подводкой дюропласт...
												.product-card__price
													span.old 8 345
													span.cost.cost_new 3 875
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability.product-card__availability_true В наличии
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-7.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Roca")
													img(src="images/content/brands/brand-img-1.png" alt="Roca")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.bg_blue Новинка
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Carina Слим Clean On 3/5л с нижней подводкой дюропласт...
												.product-card__price
													span.old 8 345
													span.cost.cost_new 3 875
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability.product-card__availability_true В наличии
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-7.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Roca")
													img(src="images/content/brands/brand-img-1.png" alt="Roca")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.bg_blue Новинка
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Carina Слим Clean On 3/5л с нижней подводкой дюропласт...
												.product-card__price
													span.old 8 345
													span.cost.cost_new 3 875
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability.product-card__availability_true В наличии
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
								.col-12.col-sm-6.col-xl-3
									.product-card(tabindex="0")
										.product-card__content
											.product-card__header
												a.product-card__img(href="javascript: void(0);")
													img(src="images/content/products/product-img-7.jpg" alt="Изображение продукта")
												a.product-card__brand(href="javascript: void(0);" aria-label="Перейти к бренду Roca")
													img(src="images/content/brands/brand-img-1.png" alt="Roca")
												ul.list.list_unstyled.product-card__marks.marks-list
													li.list__item.bg_blue Новинка
											.product-card__body
												a.product-card__title(href="javascript: void(0);") Carina Слим Clean On 3/5л с нижней подводкой дюропласт...
												.product-card__price
													span.old 8 345
													span.cost.cost_new 3 875
													span.currency лей / шт
											.product-card__footer
												.product-card__info
													.product-card__availability.product-card__availability_true В наличии
													.product-card__code Артикул: 90858
												.product-card__controls
													button.btn.product-card__btn.product-card__btn_favorite.js-to-favorite(type="button" aria-label="В избранное")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-heart-fill"></use></svg>
													button.btn.product-card__btn.product-card__btn_cart.js-to-cart(type="button" aria-label="В корзину")
														<svg class="btn__icon btn__icon_default" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop"></use></svg>
														<svg class="btn__icon btn__icon_active" role="img" aria-hidden="true" width="24" height="24"><use xlink:href="#svg-icon-shop-added"></use></svg>
						.main-block__footer.pagination-block
							.row
								.show-more
									//все кнопки с классом btn_loader при добавлении класса .btn_loader_show меняют иконку на прелоадер
									button.btn.btn_show-more.btn_bordered.btn_loader.js-show-more(type="button")
										span.btn__text Показать еще
										span.btn__icon(aria-hidden="true")
											<svg class="default-icon" role="img" aria-hidden="true" width="10" height="10"><use xlink:href="#svg-icon-down-arrow"></use></svg>
											<svg class="loader-icon" role="img" aria-hidden="true" width="10" height="10"><use xlink:href="#svg-icon-loader"></use></svg>
								.pagination
									.pagination__current
										button.btn.pagination__current-btn.btn_bordered.js-pagination-opener(type="button" aria-label="Сменить страницу")
											span.btn__text 1
											span.btn__icon(aria-hidden="true") <svg role="img" aria-hidden="true" width="10" height="10"><use xlink:href="#svg-icon-down-arrow"></use></svg>
									.pagination__block
										.pagination__content
											.scrollbar-inner
												ul.list.list_unstyled.pagination__list
													.list__item
														a.link.btn.active.js-pagination-link(href="javascript: void(0);" aria-label="Страница 1") 1
													.list__item
														a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 2") 2
													.list__item
														a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 3") 3
													.list__item
														a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 4") 4
													.list__item
														a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 5") 5
													.list__item
														a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 6") 6
													.list__item
														a.link.btn.js-pagination-link(href="javascript: void(0);" aria-label="Страница 7") 7
										.pagination__control
											button.btn.pagination__control-btn.js-pagination-closer(type="button" aria-label="Закрыть")
												span.btn__icon(aria-hidden="true") <svg role="img" aria-hidden="true" width="20" height="20"><use xlink:href="#svg-icon-cancel"></use></svg>