extends template

block content
	section.section.section_inner-page.section_warranty-terms
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link(href="javascript: void(0);") Гарантии
						li.list__item
							a.link.active(href="javascript: void(0);") Общие условия гарантии и возврата
				.header-title-wrapper
					.section_warranty-title.section__title.section__title_style1
						h1 
							| Общие условия гарантии и возврата
					.section_vertical-navigation.js-vertical-navigation
						.scrollbar-inner
							ul.list.list_unstyled.section__title_style8.row.no-gutters
								li.list__item.col-auto.js-list-item.active-item
									a.link.active(href="javascript: void(0);")
										.link__text Общие условия гарантии и возврата
								li.list__item.col-auto.js-list-item
									a.link(href="javascript: void(0);")
										.link__text Гарантийные сроки
								li.list__item.col-auto.js-list-item
									a.link(href="javascript: void(0);")
										.link__text Правила эксплуатации
		.section__body.section_simple-text
			.container
				p
					| Условием бесплатного гарантийного обслуживания изделий является их правильная установка, эксплуатация и отсутствие механических повреждений по вине Покупателя.
				p
					| Изделие снимается с гарантии в случае нарушения установленных требований по установке, а также в случае нарушения правил эксплуатации.

				.section__title.section__title_style7.warranty-paragraph
					h2
						| Гарантийные обязательства не распространяются:

				ul.list
					li.list__item
						p
							| на аксессуары, изделия из стекла, расходные материалы, детали с ограниченным сроком пользования, на детали, подверженные естественному износу (фитинги, лампочки, шланги, салазки, уплотнители, резиновые прокладки, крепежные элементы, аэраторы, трансформаторы и т.д.);
					li.list__item
						p
							| на повреждения, вызванные в результате несоблюдения правил и условий монтажа;
					li.list__item
						p
							| на повреждения: от перегрузки, удара тяжелыми и острыми предметами, от перепада давления в системе подачи воды, не соблюдения температурного режима, от попадания грязи или посторонних частиц;
					li.list__item
						p
							| в случае, если в водопроводной системе отсутствуют фильтры тонкой очистки;

				.section__title.section__title_style7.warranty-paragraph
					h2
						| Рекомендуем устанавливать фильтры тонкой очистки UST-M

				ul.list
					li.list__item
						p
							| на ванну / поддон, если они не установлены по уровню, на борта выложена облицовочная плитка, установлена система гидромассажа;
					li.list__item
						p
							|  на радиаторы и полотенцесушители, в случае подключения к центральной системе отопления;
					li.list__item
						p
							| на гидромассажные системы в случае интегрированного монтажа акриловых ванн (в короба и т.д.) и отсутствия доступа к обслуживанию системы;
					li.list__item
						p
							| на естественный износ или дефекты, вызванные неправильной или небрежной эксплуатацией;
					li.list__item
						p
							| если изделие имеет следы постороннего вмешательства или была попытка ремонта;
					li.list__item
						p
							| если обнаружены несанкционированные изменения конструкции изделия;
					li.list__item
						p
							| если изделие эксплуатировалось не в соответствии со своим целевым назначением или в условиях, для которых оно не предназначено;
					li.list__item
						p
							| на механические повреждения, возникшие при транспортировке и хранении (разбухание, потертости, сколы, поломки, царапины и т.д.);
					li.list__item
						p
							| на повреждения, вызванные попаданием на поверхность изделия едких веществ и жидкостей (щелочь, кислота, хлорсодержащие продукты, сероводород - буркутная вода и другие агрессивные вещества);
					li.list__item
						p
							| на механизмы и фурнитуру с системой soft close в случае агрессивной эксплуатации; 
					li.list__item
						p
							| если обнаружены следы хранения внутри мебели мокрых и влажных вещей, а также расслоение, растрескивание и разбухание фасадных деталей и частей корпуса вследствие прямого попадания на них воды;
					li.list__item
						p
							| на повреждения, вызванные неправильным уходом, бытовыми факторами, стихией, затоплением, пожаром.

				.section__title.section__title_style7.warranty-paragraph
					h2
						| Условия возврата
				ul.list
					li.list__item
						p
							| на аксессуары, изделия из стекла, расходные материалы, детали с ограниченным сроком пользования, на детали, подверженные естественному износу (фитинги, лампочки, шланги, салазки, уплотнители, резиновые прокладки, крепежные элементы, аэраторы, трансформаторы и т.д.);
					li.list__item
						p
							| на повреждения, вызванные в результате несоблюдения правил и условий монтажа;
					li.list__item
						p
							| на повреждения: от перегрузки, удара тяжелыми и острыми предметами, от перепада давления в системе подачи воды, не соблюдения температурного режима, от попадания грязи или посторонних частиц;
					li.list__item
						p
							| в случае, если в водопроводной системе отсутствуют фильтры тонкой очистки;

			
