extends template

block content
	section.section.section_inner-page.section_warranty-periods
		.section__header
			.container
				.section__breadcrumbs
					ul.list.list_unstyled.breadcrumbs-list
						li.list__item
							a.link(href="javascript: void(0);") Главная
						li.list__item
							a.link(href="javascript: void(0);") Гарантии
						li.list__item
							a.link.active(href="javascript: void(0);") Гарантийные сроки
				.header-title-wrapper
					.section_warranty-title.section__title.section__title_style1
						h1 
							| Гарантийные сроки
					.section_vertical-navigation.js-vertical-navigation
						.scrollbar-inner
							ul.list.list_unstyled.section__title_style8.row.no-gutters
								li.list__item.col-auto.js-list-item
									a.link(href="javascript: void(0);")
										.link__text Общие условия гарантии и возврата
								li.list__item.col-auto.js-list-item.active-item
									a.link.active(href="javascript: void(0);")
										.link__text Гарантийные сроки
								li.list__item.col-auto.js-list-item
									a.link(href="javascript: void(0);")
										.link__text Правила эксплуатации
		.section__body.table-wrapper
			.container
				.table-title.section__title
					h2
						| Умывальники, Унитазы, Биде, Писсуары (керамические части, цвет, растрескивание глазури)
				table.table-desktop
					thead
						tr
							th
								| Бренд
							th
								| Гарантия (месяцев)
							th
								| Инструкции по монтажу
							th
								| Гарантийный талон
					tbody
						tr.bg_light
							td
								| Sanovit
							td
								| 180
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Marmorin durocoat
							td
								| 144
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Cersanit
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr.bg_light
							td
								| Serel
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr.bg_light
							td
								| Colombo
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Jika
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Olympia
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Vitra
							td
								| 120 
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Della
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Armatura 
							td
								| 96
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Mito
							td
								| 72
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Guralvit
							td
								| 60
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Lautus
							td
								| 60
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Santeri
							td
								| 60
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Marmorin gelcoat
							td
								| 60
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Artceram
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Moershu / China
							td
								| 12
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
				table.table-mobile
					thead
						tr
							th
								| Бренд
							th
								| Гарантия (месяцев)
					tbody
						tr.bg_light
							td
								| Sanovit
							td
								| 180
						tr.bg_light.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Marmorin durocoat
							td
								| 144
						tr.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Cersanit
							td
								| 120
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Serel
							td
								| 120
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Colombo
							td
								| 120
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Jika
							td
								| 120
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Olympia
							td
								| 120
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Vitra
							td
								| 120
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Della
							td
								| 120
						tr.bg_light.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr
							td
								| Armatura
							td
								| 96
						tr.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Mito
							td
								| 72
						tr.bg_light.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr
							td
								| Guralvit
							td
								| 60
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr
							td
								| Lautus
							td
								|  60
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr
							td
								| Santeri
							td
								| 60
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr
							td
								| Marmorin gelcoat
							td
								| 60 
						tr.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr.bg_light
							td
								| Artceram
							td
								| 24
						tr.bg_light.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
						tr
							td
								| Moershu / China
							td
								| 12
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
									.link__svg
										svg(role="img" width="20" height="20")
											use(xlink:href="#svg-icon-documents")
									.link__text
										| Инструкции по монтажу.pdf
			hr.line
			.container
				.table-title.section__title
					h2
						| Пластиковые бачки
				table.table-desktop
					thead
						tr
							th
								| Бренд
							th
								| Гарантия (месяцев)
							th
								| Инструкции по монтажу
							th
								| Гарантийный талон
					tbody
						tr.bg_light
							td
								| Alcaplast
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr.bg_light
							td
								| Inter-Sano
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
				table.table-mobile
					tbody
						tr.bg_light
							td
								| Sanovit
							td
								| 24
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
			hr.line
			.container
				.table-title.section__title
					h2
						| Механизмы для унитазов, умывальников
				table.table-desktop
					thead
						tr
							th
								| Бренд
							th
								| Гарантия (месяцев)
							th
								| Инструкции по монтажу
							th
								| Гарантийный талон
					tbody
						tr.bg_light
							td
								| Serel
							td
								| 60
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Della
							td
								| 60
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Alcaplast
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Armatura
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Cersanit
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Jika
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr
							td
								| Olympia
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Vitra
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf  
						tr
							td
								| Artceram
							td
								| 24
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
						tr.bg_light
							td
								| China
							td
								| 6
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf 
				table.table-mobile
					tbody
						tr.bg_light
							td
								| Serel
							td
								| 60
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Della
							td
								| 60
						tr.bg_light.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Alcaplast
							td
								| 24
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Cersanit
							td
								| 24
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Jika
							td
								| 24
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Olympia
							td
								| 24
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Vitra
							td
								| 24
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Artceram 
							td
								| 24
						tr.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| China
							td
								| 6
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf

			hr.line
			.container
				.table-title.section__title
					h2
						| Инсталляционные системы (каркас)
				table.table-desktop
					thead
						tr
							th
								| Бренд
							th
								| Гарантия (месяцев)
							th
								| Инструкции по монтажу
							th
								| Гарантийный талон
					tbody
						tr.bg_light
							td
								| Armatura
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Alcaplast
							td
								| 120
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Cersanit
							td
								| 160 
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Grohe
							td
								| 160 
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Mepa
							td
								| 160 
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Siamp
							td
								| 160 
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="24" height="24")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
				table.table-mobile
					tbody
						tr.bg_light
							td
								| Armatura
							td
								| 60
						tr.bg_light
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr.bg_light
							td
								| Alcaplast
							td
								| 60
						tr.bg_light.delete-line
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Cersanit
							td
								| 12
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Grohe
							td
								| 12
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Mepa
							td
								| 12
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
						tr
							td
								| Siamp
							td
								| 12
						tr
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Инструкции по монтажу.pdf
							td
								a(href="images/pdf/doc.pdf" download).link
										.link__svg
											svg(role="img" width="20" height="20")
												use(xlink:href="#svg-icon-documents")
										.link__text
											| Гарантийный талон.pdf
				


